@{
    ViewBag.Title = "Contact";
}
<h3>
    Practică 2018
</h3>


<div class="row">
    <div class="col-md-4">
        <h2>
            Poza
        </h2>
    </div>

    
    <div class="col-md-8">
    <h2>
        Descriere
    </h2>

</div>

    <div class="row">
        <div class="col-md-4">

            
        <img src="~/image/AlexPopa.jpg"  height="150" width="150" style="border:5px solid brown" />
        </div>

        <div class="col-md-8">descriere</div>

    </div>

<div class="row">
    <div class="col-md-4">
        <img src="~/image/AlexVaja.jpg" height="150" width="150" style="border:5px solid yellow" />
    </div>

    <div class="col-md-8">descriere</div>

</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/image/ElenaDobre.jpg" height="150" width="150" style="border:5px solid green"/>
    </div>

    <div class="col-md-8">descriere</div>

</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/image/LaurențiuPopoacă.jpg" height="150" width="150" style="border:5px solid pink"/>
    </div>

    <div class="col-md-8">descriere</div>

</div>

<div class="row">
    <div class="col-md-4">
        <img src="~/image/LucianBolboros.jpg" height="150" width="150" style="border:5px solid black"/>
    </div>

    <div class="col-md-8">descriere</div>

</div>